.card {
    width: 16rem;
}

.card img {
    width: 64px;
    align-self: center;
}

.navbar {
    height: 64px;
}

.navbar .navbar-nav {
    display: flex;
    float: none;
    vertical-align: top;
  }
  
.navbar .navbar-collapse {
    text-align: center;
}

.navbar div {
    display: flex;
    margin: 0;
    align-items: center;
   
}

.navbar span {
    display: flex;
    margin: 0;
    align-items: center;
   
    
}

.navbar h1 {
    display: flex;
    margin: 0;
    align-items: center;
   
}